{% extends 'base.html' %}

{% block content%}

<div class="row">
    <h1> Add a Pet </h1>

    <form method="POST">
        {{ form.hidden_tag() }}
        {% for field in form
        if field.widget.input_type != "hidden"
        %}
        <p class="form-group">
            {{field.label}}
            {{field(class="form-control")}}
        </p>

        <span>
            {% if field.errors %}
            {% for error in field.errors %}
            <b class="text-danger"> {{error}}</b>
            {% endfor %}
            {% endif %}
        </span>
        {% endfor %}

        <button class="btn btn-info">Submit</button>
        <a href="/" class="btn btn-danger">Cancel</a>
    </form>
</div>


{% endblock %}